<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BNswap - <%= buy ? "New buy" : "New sell"%></title>
		<%- include("../partials/head"); %>
		<script type="text/javascript" src="/web/pre.js"></script>
	</head>
	<body>
		<div class="main">
			<%- include("../partials/header"); %>
			<p>Please input your <%= (buy ? "BANANO" : "NANO") %> address:</p>
			<input type="text" maxlength="65" id="addr"></br>
			<a href="/"><button type="button" class="lbtn">back</button></a>
			<button id="subaddr" type="button" class="lbtn">submit</button>
			<%- include("../partials/footer"); %>
		</div>
	</body>
</html>